<app-contact></app-contact>
<!--<h1>Template Driven Form</h1>
<html>
  <table>
    <form #f="ngForm" (ngSubmit)="onSubmitForm()">
      <tr>
        <td>Enter Name:</td>
        <td>
          <input type=text name="name" ngModel #name="ngModel" required/><sup>*</sup>
          <span *ngIf="name.invalid && name.touched">
               Please Enter Name.   
          </span>
        </td>
      </tr>
      <tr>
        <td>Enter City:</td>
        <td><input type=text name="city" ngModel #city="ngModel" required /><sup>*</sup>
          <span *ngIf="city.invalid && city.touched">
               Please Enter City.   
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" [disabled]="f.invalid">Submit</button>
        </td>
      </tr>
    </form>
  </table>
</html>

<br />
<app-product></app-product>
<br/>
<h2>Reactive Forms</h2>
<app-book></app-book> -->